*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 100%;
}
body{
    overflow-x: hidden;
}




/* 
###############
Navigation Bar
############# */
.navbar{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 50px;
}
/* #################
logo
################# */
.logo{
    margin: 10px 35px;
    

}
.logo img{
    height: 60px;
    margin: 3px 4px;
  
}

/* #############
Navbar List
################ */
.navbar{
    display: flex;
    align-items: center;
    position: relative;
    right: 0;
    left: 0;
    top: 0;
}

.navbar-lists{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 100px;
    list-style: none;
    font-family: sans-serif;
    
}
.navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}
.navbar-links{
    list-style: none;
    font-size: 20px;
    
}
.navbar-lists a{
    color: white;    
    display: block;
    text-decoration: none;
    border-radius: 20px;
}
    
.navbar-lists a:hover{
        color: black;    
        background-color: white;
}

/* ################
Main Section
############### */
.main-section{
    display: flex;
    flex-direction: column;
    padding: 5px 200px;
    justify-content: center;
    align-items: center;
    height: 530px;
    text-align: center;
    
}
.main-section::before{
    content: "";
    position: absolute;
    background: url("../images/food2.jpg") ;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.79;
    top: 0;
    left: 0;
}
.main-section h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif','serif';
}
.main-section p{
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: 'Bree Serif','serif';

}
/* ##########
Common Classes
######### */
.primary-heading{
    font-size: 40px;
    padding: 15px;
    text-align: center;
    font-family: 'Bree Serif','serif';

}
.btn{
    padding: 6px 20px;
    border-radius: 2px solid white;
    background-color: brown;
    color: white;
    margin: 20px;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    
}
.secondary-heading{
    font-size: 25px;
    padding: 15px;
    text-align: center;
    font-family: 'Bree Serif','serif';
}
p{
    text-align: center;
}
section{
    padding: 20px 0;
}
/* ##############
 Services Section
################ */

.items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 30px 20px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    
}


.item{
    overflow: hidden;
 
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    transform: 0.2s ease;
  

}
.item img:hover{
    transform: scale(1.06);

}
.item h4{
    padding: 5px;
    text-align: center;
}
.item button{
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: green;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
}

/* ##########
Client Section
##################### */
.client-section{
    height: 344px;
    position: relative;
}

.client-section::before{
    content: "";
    position: absolute;
    
    background: url("../images/food1.jpg");
    width: 100%;
    height: 90%;
    z-index: -1;
    opacity: 0.3;

}
.clients{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.clients img{
    height: 130px;
}
.client-item{
    padding: 34px;

}
/* 
####################

Contact Section
############### */
.contact-section{
    position: relative;
}
.contact-section::before{
    content: "";
    position: absolute;
    top: -20px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
    background: url(../images/contact.jpg) no-repeat ;
    
}
.contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
.contact-box input,
.contact-box textarea{
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;
    outline: none;

}
.contact-box form{
    width: 40%;
    
}
.contact-box label{
    font-size: 20px;
    font-family: 'Bree Serif','serif';
}
/* #############
footer Section
############## */
.footer-section{
    text-align: center;
    background: black;
    color: white;
}




